# Operators

<div><font size=2 color=green>Assignment Operator</font></div>

In [5]:
#  +=   -=  *=  /=  are different assignment operators

i=20
print("The value of i is", i)

i+=30
print("The value of i is now", i)

y=10

y*=4

print("The value of y is now", y)

z=5
z*=6
print("Value of z is",z)

m=10
m/=2
print("The value of m is ",m)

The value of i is 20
The value of i is now 50
The value of y is now 40
Value of z is 30
The value of m is  5.0

In [13]:
#Use of ** and use of //
#   ** is used for giving power of a to b, like 2 to power 4 is 2**4
#   // divisior will be displayed without decimal 
#   % modulo operator

i=10
j=3

print(i//j)

print(2**4)

print(10%8)

3
16
2

In [18]:
# Find the largest number from the 3 numbers, which are given by users
n1=int(input("Enter number 1:"))
n2=int(input("Enter number 2:"))
n3=int(input("Enter number 3:"))
l=0

if(n1>n2):
    l=n1
else:
    l=n2
    
if(l>n3):
    print("The largest number is ",l)
else:
    print("The largest number is ",n3)

Enter number 1:10
Enter number 2:1000
Enter number 3:3
The largest number is  1000

In [26]:
#Use of For Loop

for i in range(4):
    print(i)

0
1
2
3

In [31]:
#Accept a number from user and display it's table in following format
#  5   X   1   = 5
#  5   X   2   = 10  .....

n=int(input("Enter a number:"))

for i in range(1,11):
    print(n  ," X ",i , " = ", n*i)

Enter a number:45
45  X  1  =  45
45  X  2  =  90
45  X  3  =  135
45  X  4  =  180
45  X  5  =  225
45  X  6  =  270
45  X  7  =  315
45  X  8  =  360
45  X  9  =  405
45  X  10  =  450

## Data types in Python

### List are Mutable, it means we can change the content of a List

In [22]:
#List is a dataype where sequence of different data can be stored!
#We use [] bracket to create a list



#### List############################################################
student=['Mamta','Kolappan', 'Tulika','Mahima','Rahul','Mahek']

type(student)

student=['Mamta','Kolappan', 'Tulika','Mahima','Rahul','Mahek']


####################################################################

student1=('Mamta','Kolappan', 'Tulika','Mahima','Rahul','Mahek')

type(student1)

### Now let us work with List

#The below statement will display all the values
print(student)

#Now let us print 2nd Name from this list
print("\n\nThe 2nd name is " , student[1])
print(student[-1])

['Mamta', 'Kolappan', 'Tulika', 'Mahima', 'Rahul', 'Mahek']


The 2nd name is  Kolappan
Mahek

In [8]:
'Checking mutable nature of a List'

student[1]='Nothing'

In [9]:
print(student)

['Mamta', 'Nothing', 'Tulika', 'Mahima', 'Rahul', 'Mahek']

In [11]:
#Looping through all values of a List
#Traversing through all elements of a List

for elements in student:
    print (elements)

Mamta
Nothing
Tulika
Mahima
Rahul
Mahek

In [21]:
n1=[1,2,3,4,5,6,7,8,9,10]
n2=[4]

#Slicing concept

#It starts from 2nd element ([1] is the 2nd element) and it will go till one 
# less elment from 4
print(n1[1:4])

#It strats with 3rd element, and goest till last
print(n1[2:])
print("\nNow Check this -----------------------")
print(n1[:4])

print("What will happen when you put [-1] as subscript?")
print(n1[-1])

[2, 3, 4]
[3, 4, 5, 6, 7, 8, 9, 10]

Now Check this -----------------------
[1, 2, 3, 4]
What will happen when you put [-1] as subscript?
10

In [23]:
n3=n1+n2

In [24]:
print(n3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 4]

In [25]:
#Operations on the List Adding multiple lists together
newList=student+n3

In [26]:
print(newList)

['Mamta', 'Kolappan', 'Tulika', 'Mahima', 'Rahul', 'Mahek', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 4]

In [29]:
#Droping a List

del(newList)

In [30]:
print(newList)

NameError: name 'newList' is not defined

In [31]:
#Creating a List with differnt data types and List within List


myList=['Kolappan',['Neyveli',16,'MBA']]

In [36]:
print(myList[1][2])

MBA

In [37]:
myList1=['Kolappan',['Neyveli',16,'MBA'],'Tulika',['Varanasi',10,'PhD'],'Mahek',['Raipur',12,'PostDoc']]

In [39]:
print(myList1)

['Kolappan', ['Neyveli', 16, 'MBA'], 'Tulika', ['Varanasi', 10, 'PhD'], 'Mahek', ['Raipur', 12, 'PostDoc']]

In [42]:
print(myList1[3][1])

10

In [43]:
#Popping out elements from a List
#Let us use n1 again
n1=[1,2,3,4,5,6,7,8,9,10]

#We are popping out the last element, which was 10
n1.pop(-1)

10

In [44]:
#See the list now, 10 is not present in the list
print(n1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
#Let us pop out 1 more element and check and we will ask user to tell us which 
#element has to be popped out
print("See the original List", n1)
ele=int(input("Enter the index of element which you want to delete (Pop out!)"))
p=n1.pop(ele)

print("The new list is ", n1, " and we popped out ", p , " !!!!")

See the original List [1, 2, 3, 4, 5, 6, 7, 8, 9]
Enter the index of element which you want to delete (Pop out!)4
The new list is  [1, 2, 3, 4, 6, 7, 8, 9]  and we popped out  5

In [46]:
#Different functions/Operations the of List
#  + operator cancatenate two lists

a=[1,2,3,'Bangalore']
b=['Ranchi', 4,5,6]

#Concatenating two lists
c=a+b

print (c)

[1, 2, 3, 'Bangalore', 'Ranchi', 4, 5, 6]

In [53]:
#--------------------
for i in a:
    k=i*2
    print (k)
    #-------------

#when we multiply the List direclty, it is being displayed n times    
b=a*10  
print("\n\n", b)

2
4
6
BangaloreBangalore


 [1, 2, 3, 'Bangalore', 1, 2, 3, 'Bangalore', 1, 2, 3, 'Bangalore', 1, 2, 3, 'Bangalore', 1, 2, 3, 'Bangalore', 1, 2, 3, 'Bangalore', 1, 2, 3, 'Bangalore', 1, 2, 3, 'Bangalore', 1, 2, 3, 'Bangalore', 1, 2, 3, 'Bangalore']

In [58]:
#List Methods

# we can append any new member in a list! it is always gets added at the last
# We created earlier this list, student
#   student=['Mamta','Kolappan', 'Tulika','Mahima','Rahul','Mahek']
print(student)

# Now we want to append one more student's name, which we will accept from the user

na=input("Enter a name :")\

student.append(na)
print ("The new list ",student)

['Mamta', 'Kolappan', 'Tulika', 'Mahima', 'Rahul', 'Mahek']
Enter a name :Aniruddh
The new list  ['Mamta', 'Kolappan', 'Tulika', 'Mahima', 'Rahul', 'Mahek', 'Aniruddh']

In [56]:
#Now pop the last name
student.pop(-1)

'Rahul'

In [57]:
student

['Mamta', 'Kolappan', 'Tulika', 'Mahima', 'Rahul', 'Mahek']

In [61]:
#use of del and remove
student
#del can also be used to delete an element if you know the index
del student[1]

In [62]:
print(student)

['Mamta', 'Tulika', 'Mahima', 'Rahul', 'Mahek', 'Aniruddh']

In [63]:
# we can remove the element, if we know the element

student.remove('Aniruddh')

In [64]:
print(student)

['Mamta', 'Tulika', 'Mahima', 'Rahul', 'Mahek']

In [67]:
#Now let us work with number in a List

num1=[1,2,3,4,5,6,7,8,9,10,11,500]

print(len(num1))
print(max(num1))
print(min(num1))
print(sum(num1))
print(sum(num1)/len(num1)

12
500
1
566
47.166666666666664

In [78]:
#String
#A string is a sequence of characters

na1=["Tulka Kanojia"]
na2='Mamta Rauniyar'
na3=("Tulka Kanojia")
na4= {'n':'Tulka Kanojia','age':22}

In [79]:
print(type(na1))
print(type(na2))
print(type(na3))
print(type(na4))

<class 'list'>
<class 'str'>
<class 'str'>
<class 'dict'>

In [ ]:
#Create a list to store name, address and phone number of 3 students

In [9]:
#Accept details of 5 Products such as ProdName, Price, QtySold and Display all details with Total Price
#Creating one Empty List
pna=[]
print(pna)

#Understand how to add values to a list

pna.append("Pen")
pna.append("Eraser")

#Now see the value of pna
print(pna)

[]
['Pen', 'Eraser']

In [27]:
#first clear the list and make it empty
pna=[]
pr=[]
qty=[]
TotPr=[]

for i in range(3):
    #print(i)
    pna.append(input("Enter Product Name: "))
    pr.append(int(input("Enter Unit Price:")))
    qty.append(int(input("Enter Qty Purchased! ")))
    TotPr.append(pr[i]*qty[i])

i=0
print("----------------------------------------------------------------")
print("Product Name     Qty      Unit Price        Total Price ")
print("=================================================================")
for i in range(3):
    print(pna[i], "        " , pr[i], "       ", qty[i], "       ", TotPr[i]    )

Enter Product Name: Pen
Enter Unit Price:10
Enter Qty Purchased! 2
Enter Product Name: PEncil
Enter Unit Price:5
Enter Qty Purchased! 2
Enter Product Name: Eraser
Enter Unit Price:2
Enter Qty Purchased! 1
----------------------------------------------------------------
Product Name     Qty      Unit Price        Total Price
=================================================================
Pen          10         2         20
PEncil          5         2         10
Eraser          2         1         2

In [ ]:
# Copy the above program in this section and modify your program, where it
#will ask you how many data you want to input, and it will accept
# deatils of only that many products!

In [39]:
#Reverse For loop

for i in range (10,5,-1):
    print(i)

10
9
8
7
6

In [46]:
#Accept a string from user and check, it is Palindrome or not!

na=input("Enter a String:")

check=na[::-1]

if na==check:
    print("Its Palindrome!")
else:
    print("Nooooooo It;s Not!!!")

Enter a String:madam
Its Palindrome!

In [47]:
#String functions of Python

In [50]:
# Write a python code to determine EOQ
# S= Ordering Cost
# D = Annual Demand
# H = Holding cost per unit

# We need out for Number of Orders, Time between Cycles, Annual Ordering Cost
# Annual Hodling cost, Annual Total Cost

S=int(input("Enter Ordering Cost:"))
D=int(input("Enter Annual Demand:"))
H=int(input("Enter Holding Cost per Unit:"))
      
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Q=np.sqrt(2*D*S/H)

no_of_orders=D/Q

time_between_cycles=12/no_of_orders

AOC=D/Q*S
AHC=Q/2*H
ATC=AOC+AHC

print("EOQ is : ", Q)

Enter Ordering Cost:60
Enter Annual Demand:6000
Enter Holding Cost per Unit:2
EOQ is :  600.0

In [52]:
# Accept temrature from the user in Degree Centegrate and 
# convert to Farenhite

c=float(input("Enter temprature in Degree Centigrate:"))

f=(9*c + 160)/5

print("The temprature in Farenhite is ", f)

Enter temprature in Degree Centigrate:45
The temprature in Farenhite is  113.0