In [ ]:
Answer these 3 questions without typing code. Then type code to check your answer.

What is the value of the expression 4 * (6 + 5)

What is the value of the expression 4 * 6 + 5 

What is the value of the expression 4 + 6 * 5

In [1]:
#Split and store different words of the following string as a list
s = 'The Quick Brown fox jumps over the lazy dog'

s= 'The quick brown fox jumps over the lazy dog'
l=s.split()
print(l)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [2]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])

e

In [3]:
s ='hello'
# Reverse the string using slicing
print(s[::-1])

olleh

In [ ]:
#Accept a string from user and check it Palindrome or not
#RADAR   #DALDA    #MALAYALAM

In [7]:
s='hello This is a palce to Learn Python'
# print the last letter 'o' by two different methods

le=len(s)
print(s[le-1])

#Second Method

print(s[-1])

n
n

In [10]:

myList = [1,2,[3,4,'hello']]

#Reassign yourname to 'hello'

print(myList[2][2])
myList[2][2]='Rupesh Kumar Sinha'

print(myList)

hello
[1, 2, [3, 4, 'Rupesh Kumar Sinha']]

In [16]:
myList1=[12,5,1,45,0,23,0,2,11,3,4,9,25]
#Sort myList1 and display it  (By two methods)  sort and sorted (Is there any difference between them?)

myList1.sort()
print(myList1)

myList1=[12,5,1,45,0,23,0,2,11,3,4,9,25]
print("Now using Sorted",sorted(myList1))

print ("is there any change in myList", myList1)

[0, 0, 1, 2, 3, 4, 5, 9, 11, 12, 23, 25, 45]
Now using Sorted [0, 0, 1, 2, 3, 4, 5, 9, 11, 12, 23, 25, 45]
is there any change in myList [12, 5, 1, 45, 0, 23, 0, 2, 11, 3, 4, 9, 25]

## Dictionary

In [ ]:
d = {'simple_key':'hello'}
# Grab 'hello'

In [ ]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

## Set

In [25]:
L1=[1,2,4,50,23,0,1,1,1,4,5,6,6,5,4,34,5,66,12,5]
print(L1)

mySet=set(L1)

#Set will store only unique values 
print(mySet)
##print(sorted(L1))

#Create a Set by assinging values directly

mySet1={12,45,78,12,10,45,78,2,4,5,9,0,0,0,0,45,45,45,45}

print("The values of mySet1:", mySet1)

[1, 2, 4, 50, 23, 0, 1, 1, 1, 4, 5, 6, 6, 5, 4, 34, 5, 66, 12, 5]
{0, 1, 2, 34, 4, 5, 6, 66, 12, 50, 23}
The values of mySet1: {0, 2, 4, 5, 9, 10, 12, 45, 78}

## Tuple

In [ ]:
#Create a Tuple with list of your name and your friends name.

<Div>
    <html>
    <table>
        <tr>
            <td>==</td><td>If the values of two operands are equal, then the condition becomes true. </td>
    </tr>
    
    <table>
        </html>
    </Div>


Booleans
For the following quiz questions, we will get a preview of comparison operators.
In the table below, a=3 and b=4.

Operator	Description	Example
==	If the values of two operands are equal, then the condition becomes true.	(a == b) is not true.
!=	If values of two operands are not equal, then condition becomes true.	(a != b) is true.
>	If the value of left operand is greater than the value of right operand, then condition becomes true.	(a > b) is not true.
<	If the value of left operand is less than the value of right operand, then condition becomes true.	(a < b) is true.
>=	If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.	(a >= b) is not true.
<=	If the value of left operand is less than or equal to the value of right operand, then condition becomes true.	(a <= b) is true.

In [ ]:
12<5

In [ ]:
12=='12'

In [26]:
2**3==8

NameError: name 'char' is not defined

In [ ]:
'rupesh'=='Rupesh'

In [28]:
0!='o'

1!='l'

True

In [31]:
12<4 & 3>4

False

In [36]:
10<100 and 300<10

False

In [39]:
10>100 or 300<10 and 12>4

False

In [41]:
#Print all elements of following string using a loop

myStr='The quick brown fox jumps over the lazy dog!'

In [ ]:
#For the above string myStr, print everything using indexing (two methods)

In [46]:
le=len(myStr)

#1st Method
print(myStr[0:le-1])

#2nd Method

print(myStr[0:-1])

print(myStr[0:])

print(myStr[:])

The quick brown fox jumps over the lazy dog
The quick brown fox jumps over the lazy dog
The quick brown fox jumps over the lazy dog!
The quick brown fox jumps over the lazy dog!